.playground {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 20px;
}

.playground section#wysiwyg {
   background: #cbcdf1;
}

.playground textarea {
    background: #a8dbe7;
}

.playground .content {
    width: 500px;
    height: 300px;
}
